name: auto-publish crate

on:
  push:
    tags:
      - "*-v[0-9]+.[0-9]+.[0-9]+"

# Note: this job targets the `release` environment, which applies a wait timer before publishing.
jobs:
  publish_crate:
    name: publish crate
    uses: EarthmanMuons/reusable-workflows/.github/workflows/publish-crate.yml@main
    secrets: inherit
