name: bump version

on:
  workflow_dispatch:
    inputs:
      package:
        description: Cargo package
        required: true
        default: spellout
        type: choice
        options:
          - spellabet
          - spellout
      level:
        description: Bump level
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  bump_version_package:
    name: bump version / ${{ inputs.package }}
    uses: EarthmanMuons/reusable-workflows/.github/workflows/rust/bump-version-rust.yml@main
    with:
      package: ${{ inputs.package }}
      level: ${{ inputs.level }}
    secrets: inherit
